{% extends "base.html" %}

{% block main %}
<div class="ui inverted segment">
<form class="ui inverted form">
  <h4 class="ui dividing inverted header">Projet</h4>
  <a href="/Board/{{project.id}}" class="ui button">Estimation</a>
  <div class="field">
    <div class="two fields">
      <div class="field">
          <label>Nom</label>
        <input type="text" name="name" placeholder="Nom du projet" value="{{project.name}}" style="font-weight:bold" >
      </div>
      <div class="field">
      <label>Propiétaire</label>
        <input type="text" name="proprio" placeholder="Propiétaire du projet" value="{{project.user}}" style="font-weight:bold">
      </div>
    </div>
  </div>
  <div class="ui middle aligned animated selection list inverted">
  <label style="font-weight:bold">Participant</label>
  {% for us in project.users %}
  <div class="item">
   <i class="user icon"></i>
    <div class="content">
      <div class="header">{{us}}</div>
    </div>
  </div>
  {% endfor %}
  </div>
  <div class="ui middle aligned animated selection list inverted">
  <label style="font-weight:bold">Stories</label>
  {% for sto in project.storys %}
  <div class="item">
   <i class="tasks icon"></i>
    <div class="content">
      <div class="header">{{sto}}</div>
    </div>
    
  </div>
  {% endfor %}
  </div>
  </form>
  </div>





{{ script_foot | raw }}







  {% endblock %}