{% extends "base.html" %}

{% block main %}
<div class="ui grid">
	{% for prj in projects %}
  	<div class="four wide column">
		<div class="ui card">
  <div class="content">
    <div class="header"> {{ prj.name }}
    <i class="right floated ui icon briefcase"></i>
  </div>
  <div class="meta">
        Propriétaire - {{ prj.user }}
      </div>
      </div>
  <div class="content">
    <h4 class="ui sub header">Participant</h4>
    <div class="ui small feed">
      <div class="event">
        <div class="content">
          <div class="summary">
             {% for us in prj.users %}
							<li>{{ us }}</li>
						{% endfor %} 
          </div>
        </div>
      </div>
	</div>
	</div>
	<div class="extra content">
	<a href="project/form/{{ prj.id }}">
    <div class="ui bottom attached button">
      <i class="add icon"></i>
      Join Project
      </div>
      </a>
  </div>
	</div>
	</div>
	

  {% endfor %}
  </div>
  <!-- 
 <div class="ui small modal" id="modal1">
  <div class="header">Header</div>
  <div class="content">
    <div id="test"></div>
  </div>
  <div class="actions">
    <div class="ui approve button">Approve</div>
    <div class="ui cancel button">Cancel</div>
  </div>
</div>-->
{{ script_foot | raw }}

 
			
{% endblock %}