<h2 class="ui header">{{project.name}}</h2>
	<a href=""><button class="ui black button">Faire estimations</button></a>
	<div class="ui three columns grid">
	{% for story in project.storys %}
	<div class="column">
		<span class="ui icon label _stories" data-ajax="{{story.id}}"><!-- n'importe quel nom passe a la place de data-ajax -->
		<i class="bath icon"></i>
		{{story.name}}
		</span>
		</div>
	{% endfor %}
	</div>
	<div id="divEstimations"></div>
	{{ script_foot | raw }}
