{% extends "@framework/crud/index.html" %}
{% block _before %}
	<div class="ui inverted segment">
{% endblock %}
{% block btAddNew %}
	<button class="ui red button" id="btAddNew"><i class="icon plus circle" ></i>Ajouter un utilisateurs</button>
{% endblock %}
{% block _addNewCaption %}
	{{ parent() }}
{% endblock %}
{% block frm %}
	{{ parent() }}
{% endblock %}
{% block dataTable %}
	{{ parent() }}
{% endblock %}
{% block messages %}
	{{ parent() }}
{% endblock %}
{% block details %}
	{{ parent() }}
{% endblock %}
{% block _after %}
	</div>
{% endblock %}
{% block script %}
	{{ parent() }}
{% endblock %}
