{% extends "base.html" %}

{% block main %}
<div class="ui segment">
  <h2>{{ project.name }}</h2>
</div>
<div class="ui grid">
<div class="four wide column">
<div class="ui cards">
  <div class="card">
    <div class="content">
      <div class="header">
        Timer
      </div>
        <div class="description counter">
        
      </div>
      
    </div>
    <div class="extra content">
      <div class="ui two buttons">
        <div class="ui  green button" id="startButton">Approve</div>
        <div class="ui  red button" id="stopButton">Decline</div>
      </div>
    </div>
  </div>
  </div>
  </div>
  <div class="twelve wide column">
  <div class="ui segment selection list" style="overflow-y: scroll; height:112px;" id="story_actuel">
 <!--  
  {% for sto in project.storys %}
  <div class="item">{{ sto }}</div>
  {% endfor %}
  -->
</div>
</div>
</div>
  
<div class="ui stackable grid">
<div class="ten wide column">
{% for sri in serie %}
<div class="two wide column">
<button class="ui toggle big fluid button" value="{{ sri }}" id="btnVote">
{{ sri }}
</button>


</div>

{% endfor %}
</div>
<div class="six wide column">
<div class="ui segement inverted">
<div class="head">
<h2>Online</h2>
<div class="content">
<div class="ui inverted segment">
  <div class="ui inverted relaxed divided list" id="user_online">
  </div>
  </div>
</div>
</div>
</div>
</div>
</div>


{{ script_foot | raw }}
{% endblock %}