<div class="ui container">
{% block menu %}
<div class="ui inverted menu">

  <a class="item" href="test">
    Home
  </a>
  <a class="item" href="ProjectList">
    Projets
  </a>
  <a class="item" href="UserCrud" >
    User
  </a>
  <a class="item" href="Board" >
    Board
  </a>
  <div class="right menu">
   <div class="ui dropdown item">
     Language <i class="dropdown icon"></i>
     <div class="menu">
       <a class="item">English</a>
       <a class="item">Russian</a>
       <a class="item">Spanish</a>
     </div>
   </div>
   <div class="item">
       <div class="ui primary button">Sign Up</div>
   </div>
 </div>
</div>
{% endblock %}

{% block main %}
Contenu de main
{% endblock %}

{% block footer %}
<div class="ui inverted segment">Footer</div>
{% endblock %}
</div>